@import "tailwindcss";

html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

/* Custom Hide Scrollbar Utility for Horizontal Touch Scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

